#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

        tap-ms = <100>;
        label = "scroll_encoder_left";
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <34 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp EQUAL                 &kp N1        &kp N2        &kp N3            &kp N4           &kp N5                  &kp C_VOLUME_UP       &kp N6                &kp N7       &kp N8           &kp N9        &kp N0         &kp MINUS
&kp GRAVE                 &kp Q         &kp W         &kp F             &kp P            &kp T                   &kp C_VOLUME_DOWN     &kp J                 &kp L        &kp U            &kp Y         &kp SEMI       &kp BACKSLASH
&mt LEFT_SHIFT BACKSPACE  &kp A         &kp R         &kp S             &kp T            &kp G                   &kp C_BRIGHTNESS_DEC  &kp M                 &kp N        &kp E            &kp I         &kp O          &mt RIGHT_SHIFT APOSTROPHE
&kp ESCAPE                &kp Z         &kp X         &kp C             &kp D            &kp V                   &kp C_BRIGHTNESS_INC  &kp K                 &kp H        &kp COMMA        &kp DOT       &kp FSLH       &kp LEFT_CONTROL
&kp PRINTSCREEN           &kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_CONTROL  &lt 1 BACKSPACE  &mt LEFT_CONTROL TAB    &kp K_MUTE            &mt LEFT_SHIFT ENTER  &lt 2 SPACE  &kp RIGHT_SHIFT  &kp LEFT_GUI  &kp RIGHT_ALT
            >;

            display-name = "BASE";
            sensor-bindings = <&scroll_encoder>;
        };

        SYM_NUM {
            bindings = <
&trans     &kp F1           &kp F2            &kp F3             &kp F4                &kp F5                   &trans  &kp F6        &kp F7        &kp F8        &kp F9      &kp F10       &kp F11
&kp GRAVE  &kp EXCLAMATION  &kp AT_SIGN       &kp HASH           &kp DOLLAR            &kp PERCENT              &trans  &kp N7        &kp N8        &kp N9        &kp MINUS   &kp SLASH     &kp F12
&trans     &kp CARET        &kp AMPERSAND     &kp ASTERISK       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS    &kp ASTERISK  &kp BACKSPACE
&kp ESC    &none            &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE        &kp RIGHT_BRACE          &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &kp EQUAL     &kp ENTER
&trans     &trans           &trans            &trans             &trans                &trans                   &trans  &trans        &kp NUMBER_0  &kp NUMBER_0  &trans      &trans
            >;

            display-name = "SYM_NUM";
            sensor-bindings = <&scroll_encoder>;
        };

        NAV_SHORTCUTS {
            bindings = <
&none   &none             &none         &none           &none        &none     &trans  &none               &none          &none         &none          &none          &none
&trans  &kp INS           &none         &kp K_MENU      &none        &none     &trans  &kp LC(LEFT_ARROW)  &kp PAGE_DOWN  &kp PAGE_UP   &kp LC(RIGHT)  &kp DELETE     &none
&trans  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp UNDER    &none     &trans  &kp LEFT            &kp DOWN       &kp UP_ARROW  &kp RIGHT      &kp BACKSPACE  &none
&trans  &kp K_UNDO        &kp K_CUT     &kp K_COPY      &kp K_PASTE  &none     &trans  &none               &kp END        &kp HOME      &none          &none          &none
&trans  &trans            &trans        &trans          &trans       &trans    &trans  &trans              &trans         &trans        &trans         &trans
            >;

            display-name = "NAV_SHORTCUTS";
            sensor-bindings = <&scroll_encoder>;
        };

        KB_CNTRL {
            display-name = "KB_CNTRL";
            bindings = <
&bootloader  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &none  &none          &trans  &none  &none            &none            &none            &none            &bootloader
&none        &bt BT_CLR    &bt BT_CLR_ALL  &none         &none  &none          &trans  &none  &none            &none            &none            &none            &none
&none        &out OUT_USB  &out OUT_BLE    &none         &none  &none          &trans  &none  &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_EFF  &none
&none        &sys_reset    &none           &none         &none  &bootloader    &trans  &none  &none            &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &none            &none
&trans       &none         &none           &none         &none  &none          &trans  &none  &none            &none            &none            &none
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
